p
{
	width: 100px;
	height: 100px;
	background-color: rgba(255, 0, 0, 1);
}

#Paragraf1
{
	background-color: #aa7700;
}

#Paragraf2
{
	background-color: #3399ff;
}

#Paragraf3
{
	background-color: #969696;
}

#Paragraf4
{
	background-color: rgba(255, 0, 0, 0.2);
}

#Paragraf5
{
	background-color: rgba(255, 0, 0, 0.2);
}





